@{
    Layout = "~/Pages/Layouts/_MainLayout.cshtml";
    Page.Title = "Users and Awards";
}
<div class="jumbotron" id="jumbo">
    <h1 class="display-3">Users and Awards application</h1>
    <p class="lead">This is a web application that I made for Epam-XT.</p>
    <hr>
    <p>
        In this application, CRUD operations are implemented,
        there are also roles for users that can be edited and so on.
    </p>
</div>