@using Final.Ioc;
@using Final.Logger;
@{
    Page.Title = "My profile";
    Layout = "~/Layouts/_MainLayout.cshtml";
    string newPassword = Request["NewPassword"];
    string newVerifPassword = Request["NewVerifPassword"];
    var logger = Logger.Log;
    <h1 style="padding-left:20px">Change password</h1>
    if (IsPost)
    {
        var user = DependencyResolver.UserLogic.GetByLogin(User.Identity.Name);
        if (newPassword == newVerifPassword)
        {
            if (DependencyResolver.UserLogic.ChangePassword(user.Id, newPassword))
            {
                <div class="alert alert-info" style="padding-left:20px">Operation was completed</div>
            }
            else
            {
                logger.Error("Invalid password.");
                Response.Redirect("~/404.cshtml");
            }
        }
        else
        {
            logger.Error("Error. Passwords do not match.");
            <div class="alert alert-danger" style="padding-left:20px">Passwords do not match!</div>
        }
    }
}
<div class="main" style="padding-left:20px">
    <form action="~/Pages/Users/ChangePassword.cshtml" method="post">
        <div>
            <label>New password:</label>
            <input class="form-control" style="width:200px" type="password" name="NewPassword" id="NewPassword" required />
        </div>
        <div>
            <label>Confirm new password:</label>
            <input class="form-control" style="width:200px" type="password" name="NewVerifPassword" id="NewVerifPassword" required />
        </div>
        <br />
        <button class="btn btn-primary" style="width:200px">Change</button>
    </form>
</div>