body {
    background: #333333;
}

.block {
    position: relative;
    margin-top: 50px;
    color: #fff;
    text-align: center;
    border: 3px solid #C2E1F5;
    background: #88B7D5;
    padding: 20px;
    box-sizing: border-box;
}

.pointer {
    position: absolute;
    display: inline-block;
    box-sizing: border-box;
    top: -27px;
    margin-left: -25px;
    width: 50px;
    height: 50px;
    border: 3px solid #C2E1F5;
    border-bottom: none;
    border-left: none;
    background: #88B7D5;
    transform: rotate(-45deg);
}

.inner {
    position: relative;
    z-index: 10;
}