body {
    margin: 0;
}

table {
    border-collapse: collapse;
    line-height: 1.1;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

th {
    padding: 10px;
}

td {
    font-size: 0.8em;
    padding: 5px 7px;
    padding-bottom:20px;
    
}

.first {
    font-size: 1em;
    font-weight: bold;
    text-align: center;
}
