@using Task6.Common;
@using Task6.Entities;
@{
    Layout = "~/Pages/Layouts/_AwardsLayout.cshtml";
    Page.Title = "Add Award";
    <h1 style="padding-left:20px">Add Award</h1>
    string awardId = null;
    string title;
    if (IsPost)
    {
        title = Request["Title"];
        HttpPostedFileBase file = Request.Files.Count != 0 ? Request.Files[0] : null;
        byte[] bytes = null;
        if (file.ContentLength != 0)
        {
            bytes = new byte[file.ContentLength];
            file.InputStream.Read(bytes, 0, bytes.Length);
        }
        else
        {
            var webClient = new System.Net.WebClient();
            bytes = webClient.DownloadData("https://i.pinimg.com/236x/85/65/02/856502a5f264883834fb0707fa68b4f6.jpg");
        }
        try
        {
            var award = new Award()
            {
                Title = title,
                AwardImage = bytes
            };
            DependencyResolver.AwardLogic.Add(award);
            awardId = award.Id.ToString();
        }
        catch
        {
            Response.Redirect("~/404.cshtml");
        }
    }
}
@if (awardId != null)
{
    <div class="alert alert-info">Award added with ID: @awardId</div>
}
<form action="~/Pages/Awards/AddAward.cshtml" method="post" enctype="multipart/form-data" style="padding-left:20px">
    <div>
        <label>Title: </label>
        <input class="form-control" style="width:200px" type="text" name="Title" id="Title" required />
    </div>
    <div>
        <label for="image">Image</label>
        <input type="file" class="form-control" name="image" id="image" style="width:300px" accept=".png">
    </div>
    <br />
    <button class="btn btn-primary" style="width:200px">Submit</button>
</form>