@{
    Layout = "~/Pages/Layouts/_AwardsLayout.cshtml";
    Page.Title = "Users and Awards";
}
<div class="jumbotron" id="jumbo">
    <h1 class="display-3">Awards menu</h1>
    <p class="lead">This is a web application that I made for Epam-XT.</p>
    <hr>
    <p>
        In this menu you can make operations with awards...
    </p>
</div>