@using Task6.Common;
@{
    Layout = "~/Pages/Layouts/_AwardsLayout.cshtml";
    Page.Title = "Show Award";
    <h1 style="padding-left:20px">Show Award</h1>
    string errorMessage = null;
    int id = 0;
    string info = null;
    if (IsPost)
    {
        if (!int.TryParse(Request["Id"], out id))
        {
            errorMessage = "Incorrect values!";
        }
        else
        {
            errorMessage = null;
            try
            {
                var award = DependencyResolver.AwardLogic.GetById(id);
                info = award.ToString();
                <img src="@String.Format("data:image/png;base64,{0}", Convert.ToBase64String(award.AwardImage))">
                <div class="alert alert-info">@info</div>
            }
            catch
            {
                Response.Redirect("~/404.cshtml");
            }
        }
    }
}
@if (errorMessage != null)
{
    <div class="alert alert-danger">@errorMessage</div>
}
<form action="~/Pages/Awards/ShowAward.cshtml" method="post" style="padding-left:20px">
    <div>
        <label>Id: </label>
        <input class="form-control" style="width:200px" type="text" name="Id" id="Id" pattern="^[0-9]*$" required />
    </div>
    <br />
    <button class="btn btn-primary" style="width:200px">Submit</button>
</form>