@using Task6.Common;
@{
    Layout = "~/Pages/Layouts/_AwardsLayout.cshtml";
    Page.Title = "Show All";
    <h1 style="padding-left:20px">Show All</h1>
}
<ul class="list-group list-group-flush">
    @{
        var awards = DependencyResolver.AwardLogic.GetAll();
        if (!awards.Any())
        {
            <li class="list-group-item">
                Awards is empty.
            </li>
        }
        foreach (var award in awards)
        {
            <li class="list-group-item">
                <img src="@String.Format("data:image/jpg;base64,{0}", Convert.ToBase64String(award.AwardImage))">
                @award.ToString()
            </li>
        }
    }
</ul>