@{
    Layout = "~/Pages/Layouts/_MainLayout.cshtml";
}
<nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
    <a class="navbar-brand" href="~/Pages/Awards/Awards.cshtml">Awards menu</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="~/Pages/Awards/ShowAll.cshtml">Show all awards <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="~/Pages/Awards/AddAward.cshtml">Add award <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="~/Pages/Awards/ShowAward.cshtml">Show award by ID <span class="sr-only">(current)</span></a>
            </li>
        </ul>
    </div>
</nav>
@RenderBody()