<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@Page.Title</title>
</head>
<body>
    <div>
        @if (User.IsInRole("Admin") || User.IsInRole("User"))
        {
            <div class="alert alert-light">User: @User.Identity.Name <button id="btn_signout" class="btn btn-outline-dark" style="width:100px">Sign Out</button></div>
        }
        @if (User.IsInRole("Admin"))
        {
            <div class="alert alert-dark">
                <button id="btn_give_role" class="btn btn-danger" style="width:200px">Give Admin role</button>
                <button id="btn_take_role" class="btn btn-danger" style="width:200px">Take Admin role</button>
            </div>
        }
    </div>
    <div class="main" style="padding-left:20px">
        <table>
            <tr>
                <td><h1>Menu:</h1></td>
                <td>
                    <button id="btn_user" class="btn btn-primary" style="width:200px">User mode</button>
                </td>
                <td>
                    @if (User.IsInRole("Admin"))
                    {
                        <button id="btn_award" class="btn btn-primary" style="width:200px">Award mode</button>
                    }
                    @if (!User.IsInRole("Admin") && !User.IsInRole("User"))
                    {
                        <button id="btn_login" class="btn btn-primary" style="width:200px">Login</button>
                    }
                </td>
            </tr>
        </table>
    </div>
    @RenderBody()
    <style>
        body {
            background: #d1d1d1;
        }
    </style>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-3.0.0.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
    <script>
        $('#btn_user').click(function () {
            location.href = '/Pages/Users/Users';
        });
    </script>
    <script>
        $('#btn_award').click(function () {
            location.href = '/Pages/Awards/Awards';
        });
    </script>
    <script>
        $('#btn_login').click(function () {
            location.href = '/Pages/Login/Login';
        });
    </script>
    <script>
        $('#btn_signout').click(function () {
            location.href = '/Pages/Login/SignOut';
        });
    </script>
    <script>
        $('#btn_give_role').click(function () {
            location.href = '/Pages/Admin/GiveAdminRole';
        });
    </script>
    <script>
        $('#btn_take_role').click(function () {
            location.href = '/Pages/Admin/TakeAdminRole';
        });
    </script>
</body>
</html>