@using Final.Ioc;
@{
    Page.Title = "Change Fullname";
    int id = 0;
    string fullname = (string)Request["Fullname"];
    string errorMessage = null;
    string stop = null;
}
@RenderPage("~/Pages/Purchases/ChangeInfo.cshtml")
<h3 style="padding-left:40px">Change Fullname</h3>
@if (IsPost)
{
    if (!int.TryParse(Request["Id"], out id))
    {
        errorMessage = "Please, input your purchase id.";
    }
    else
    {
        var user = DependencyResolver.UserLogic.GetByLogin(User.Identity.Name);
        var purchases = DependencyResolver.PurchaseLogic.GetPurchasesByUserId(user.Id);
        foreach (var purchase in purchases)
        {
            stop = "false";
            if (id == purchase.Id)
            {
                if (DependencyResolver.PurchaseLogic.ChangeFullname(id, fullname))
                {
                    errorMessage = null;
                    <div class="alert alert-info" style="padding-left:40px">Operation was completed</div>
                }
                else
                {
                    Response.Redirect("~/404.cshtml");
                }
                stop = "true";
                break;
            }
        }
    }
}
@if (errorMessage != null || stop != "true" || stop == "false")
{
    <div class="alert alert-light" style="padding-left:40px">Please, input correct values</div>
}
<div class="main" style="padding-left:40px">
    <form action="~/Pages/Purchases/ChangeFullName.cshtml" method="post">
        <div>
            <label>Purchase Id for changes: </label>
            <input class="form-control" style="width:200px" type="text" name="Id" id="Id" />
        </div>
        <div>
            <label>New Fullname: </label>
            <input class="form-control" style="width:200px" type="text" name="Fullname" id="Fullname" />
        </div>
        <br />
        <button class="btn btn-primary" style="width:200px">Submit</button>
    </form>
</div>
<br />
<br />