@{
    Page.Title = "Change Purchase Info";
    Layout = "~/Layouts/_MainLayout.cshtml";
}
<h1 style="padding-left:20px">Change purchase info</h1>
<div>
    <button id="btn_change_fullname" class="btn btn-secondary" style="margin-left:60px" onclick="location.href='ChangeFullName.cshtml'">
        Change Fullname
    </button>
    <button id="btn_change_phone_number" class="btn btn-secondary" style="margin-left:60px" onclick="location.href='ChangePhoneNumber.cshtml'">
        Change phone number
    </button>
    <button id="btn_change_address" class="btn btn-secondary" style="margin-left:60px" onclick="location.href='ChangeAddress.cshtml'">
        Change address
    </button>
</div>