@{
    Page.Title = "Book Shop";
    Layout = "~/Layouts/_MainLayout.cshtml";
}

    <div class="jumbotron" id="jumbo">
        <h1 class="display-4">Users and Awards</h1>
        <p class="lead">This is a web application created with a little help of ASP.NET and Bootstrap.</p>
        <hr class="my-2">
        <p>It allows one to create Users and Awards, give Awards to Users and take back.</p>
    </div>
