@using Task6.Common;
@using Task6.Entities;
@{
    Layout = "~/Pages/Layouts/_UsersLayout.cshtml";
    Page.Title = "Add User";
    <h1 style="padding-left:20px">Add User</h1>
    string errorMessage = null;
    string userID = null;
    string name;
    DateTime birth;
    if (IsPost)
    {
        HttpPostedFileBase file = Request.Files.Count != 0 ? Request.Files[0] : null;
        byte[] bytes = null;
        name = Request["Name"];
        if (file.ContentLength != 0)
        {
            bytes = new byte[file.ContentLength];
            file.InputStream.Read(bytes, 0, bytes.Length);
        }
        else
        {
            bytes = File.ReadAllBytes(@"D:\Downloads\pic1.png");
        }
        if (!DateTime.TryParse(Request["Birth"], out birth))
        {
            errorMessage = "Incorrect values!";
        }
        else
        {
            errorMessage = null;
            try
            {
                var user = new User()
                {
                    Name = name,
                    DateOfBirth = birth,
                    UserImage = bytes
                };
                DependencyResolver.UserLogic.Add(user);
                userID = user.Id.ToString();
            }
            catch
            {
                Response.Redirect("~/404.cshtml");
            }
        }
    }
}
@if (errorMessage != null)
{
    <div class="alert alert-danger">@errorMessage</div>
}
@if (userID != null)
{
    <div class="alert alert-info">User added with ID: @userID</div>
}
<form action="~/Pages/Users/AddUser.cshtml" method="post" enctype="multipart/form-data" style="padding-left:20px">
    <div>
        <label>Name: </label>
        <input class="form-control" style="width:200px" type="text" name="Name" id="Name" required />
    </div>
    <div>
        <label>Date of birth:</label>
        <input class="form-control" style="width:200px" type="date" name="Birth" id="Birth" required />
    </div>
    <div class="form-group">
        <label for="image">Image</label>
        <input type="file" class="form-control" name="image" id="image" style="width:300px" accept=".png">
    </div>
    <button class="btn btn-primary" style="width:200px">Submit</button>
</form>