@using Task6.Common;
@{
    Layout = "~/Pages/Layouts/_UsersLayout.cshtml";
    Page.Title = "Delete User";
    <h1 style="padding-left:20px">Delete User</h1>
    string errorMessage = null;
    int id = 0;
    if (IsPost)
    {
        if (!int.TryParse(Request["Id"], out id))
        {
            errorMessage = "Incorrect values!";
        }
        else
        {
            errorMessage = null;
            if (DependencyResolver.UserLogic.RemoveById(id))
            {
                <div class="alert alert-info">User with ID - @id is deleted.</div>
            }
            else
            {
                <div class="alert alert-danger">Invalid user ID.</div>
            }
        }
    }
}
@if (errorMessage != null)
{
    <div class="alert alert-danger">@errorMessage</div>
}
<form action="~/Pages/Users/DeleteUser.cshtml" method="post" style="padding-left:20px">
    <div>
        <label>Id: </label>
        <input class="form-control" style="width:200px" type="text" name="Id" id="Id" pattern="^[0-9]*$" required />
    </div>
    <br />
    <button class="btn btn-primary" style="width:200px">Submit</button>
</form>