@using Task6.Common;
@{
    Layout = "~/Pages/Layouts/_UsersLayout.cshtml";
    Page.Title = "Show All Users";
    <h1 style="padding-left:20px">Show All Users</h1>
}
<ul class="list-group list-group-flush">
    @{
        var users = DependencyResolver.UserLogic.GetAll();
        if (!users.Any())
        {
            <li class="list-group-item">
                Users is empty.
            </li>
        }
        if (User.IsInRole("User") || User.IsInRole("Admin"))
        {
            foreach (var user in users)
            {
                byte[] byteImageArray = DependencyResolver.UserLogic.GetUserImage(user.Id);
                <li class="list-group-item">
                    @try
                    {
                        WebImage photo = new WebImage(byteImageArray);
                        if (photo != null)
                        {
                            <img width="40" height="40" src="@String.Format("data:image/png;base64,{0}", Convert.ToBase64String(user.UserImage))">
                        }
                    }
                    catch
                    {
                        <img src="https://www.retailx.com/wp-content/uploads/2019/12/iStock-476085198.jpg" width="100" height="100" alt="">
                    }
                    @{
                        @user.ToString()
                        var res = DependencyResolver.AwardLogic.GetAwardsByUserId(user.Id);
                        var str = " Awards: ";
                        var titles = "";
                        if (res.Any())
                        {
                            @str
                            foreach (var i in res)
                            {
                                titles = i.Title.ToString() + "; ";
                                @titles
                            }
                        }
                    }
                </li>
            }
        }
        else
        {
            foreach (var user in users)
            {
                byte[] byteImageArray = DependencyResolver.UserLogic.GetUserImage(user.Id);
                <li class="list-group-item">
                    @try
                    {
                        WebImage photo = new WebImage(byteImageArray);
                        if (photo != null)
                        {
                            <img width="40" height="40" src="@String.Format("data:image/png;base64,{0}", Convert.ToBase64String(user.UserImage))">
                        }
                    }
                    catch
                    {
                        <img src="https://www.retailx.com/wp-content/uploads/2019/12/iStock-476085198.jpg" width="100" height="100" alt="">
                    }
                    @{
                        var userInfo = $"Id:{user.Id}. Name:{user.Name}. DateOfBirth: {user.DateOfBirth.ToShortDateString()}. Age: {user.Age}.";
                        @userInfo
                    }
                </li>
            }
        }
    }
</ul>
<br />