@using Task6.Common;
@{
    Layout = "~/Pages/Layouts/_UsersLayout.cshtml";
    Page.Title = "Show User";
    <h1 style="padding-left:20px">Show User</h1>
    string errorMessage = null;
    int id = 0;
    string info = null;
    if (IsPost)
    {
        if (!int.TryParse(Request["Id"], out id))
        {
            errorMessage = "Incorrect values!";
        }
        else
        {
            errorMessage = null;
            try
            {
                var user = DependencyResolver.UserLogic.GetById(id);
                info = user.ToString();
                byte[] byteImageArray = DependencyResolver.UserLogic.GetUserImage(user.Id);
                try
                {
                    WebImage photo = new WebImage(byteImageArray);
                    if (photo != null)
                    {
                        <img width="40" height="40" src="@String.Format("data:image/png;base64,{0}", Convert.ToBase64String(user.UserImage))">
                        @user.ToString()
                        var res = DependencyResolver.AwardLogic.GetAwardsByUserId(user.Id);
                        var str = " Awards: ";
                        var titles = "";
                        if (res.Any())
                        {
                            @str
                            foreach (var i in res)
                            {
                                titles = i.Title.ToString() + "; ";
                                @titles
                            }
                        }
                    }
                }
                catch
                {
                    <img src="https://www.retailx.com/wp-content/uploads/2019/12/iStock-476085198.jpg" width="100" height="100" alt="">
                    @user.ToString()
                    var res = DependencyResolver.AwardLogic.GetAwardsByUserId(user.Id);
                    var str = " Awards: ";
                    var titles = "";
                    if (res.Any())
                    {
                        @str
                        foreach (var i in res)
                        {
                            titles = i.Title.ToString() + "; ";
                            @titles
                        }
                    }
                }
            }
            catch
            {
                Response.Redirect("~/404.cshtml");
            }
        }
    }
}
@if (errorMessage != null)
{
    <div class="alert alert-danger">@errorMessage</div>
}
<form action="~/Pages/Users/ShowUser.cshtml" method="post" style="padding-left:20px">
    <div>
        <label>Id: </label>
        <input class="form-control" style="width:200px" type="text" name="Id" id="Id" pattern="^[0-9]*$" required />
    </div>
    <br />
    <button class="btn btn-primary" style="width:200px">Submit</button>
</form>