USE [Final]
GO
/****** Object:  Table [dbo].[books]    Script Date: 09.03.2020 14:22:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[books](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Author] [nvarchar](max) NOT NULL,
	[Title] [nvarchar](max) NOT NULL,
	[Genre] [nvarchar](50) NOT NULL,
	[BookImage] [nvarchar](max) NOT NULL,
	[ReleaseDate] [int] NOT NULL,
	[Price] [decimal](18, 0) NOT NULL,
	[Quantity] [int] NULL,
 CONSTRAINT [PK_Book] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[books_purchases]    Script Date: 09.03.2020 14:22:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[books_purchases](
	[IdBook] [int] NOT NULL,
	[IdPurchase] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[purchases]    Script Date: 09.03.2020 14:22:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[purchases](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FullName] [nvarchar](max) NOT NULL,
	[PhoneNumber] [nvarchar](20) NOT NULL,
	[Address] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_Purchase] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[roles]    Script Date: 09.03.2020 14:22:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[roles](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Role] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[users]    Script Date: 09.03.2020 14:22:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[users](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Login] [nvarchar](50) NOT NULL,
	[Password] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[users_purchases]    Script Date: 09.03.2020 14:22:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[users_purchases](
	[IdUser] [int] NOT NULL,
	[IdPurchase] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[users_roles]    Script Date: 09.03.2020 14:22:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[users_roles](
	[IdUser] [int] NOT NULL,
	[IdRole] [int] NOT NULL
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[books] ON 

SET IDENTITY_INSERT [dbo].[books] OFF
SET IDENTITY_INSERT [dbo].[roles] ON 

INSERT [dbo].[roles] ([Id], [Name]) VALUES (1, N'Admin')
INSERT [dbo].[roles] ([Id], [Name]) VALUES (2, N'User')
SET IDENTITY_INSERT [dbo].[roles] OFF
SET IDENTITY_INSERT [dbo].[users] ON 

INSERT [dbo].[users] ([Id], [Login], [Password]) VALUES (1, N'Nikita', N'admin')
INSERT [dbo].[users] ([Id], [Login], [Password]) VALUES (16, N'user', N'user')
SET IDENTITY_INSERT [dbo].[users] OFF
INSERT [dbo].[users_roles] ([IdUser], [IdRole]) VALUES (1, 1)
INSERT [dbo].[users_roles] ([IdUser], [IdRole]) VALUES (16, 2)
ALTER TABLE [dbo].[books_purchases]  WITH CHECK ADD  CONSTRAINT [FK_Book_Purchase_Book] FOREIGN KEY([IdBook])
REFERENCES [dbo].[books] ([Id])
GO
ALTER TABLE [dbo].[books_purchases] CHECK CONSTRAINT [FK_Book_Purchase_Book]
GO
ALTER TABLE [dbo].[books_purchases]  WITH CHECK ADD  CONSTRAINT [FK_Book_Purchase_Purchase] FOREIGN KEY([IdPurchase])
REFERENCES [dbo].[purchases] ([Id])
GO
ALTER TABLE [dbo].[books_purchases] CHECK CONSTRAINT [FK_Book_Purchase_Purchase]
GO
ALTER TABLE [dbo].[users_purchases]  WITH CHECK ADD  CONSTRAINT [FK_User_Purchase_Purchase] FOREIGN KEY([IdPurchase])
REFERENCES [dbo].[purchases] ([Id])
GO
ALTER TABLE [dbo].[users_purchases] CHECK CONSTRAINT [FK_User_Purchase_Purchase]
GO
ALTER TABLE [dbo].[users_purchases]  WITH CHECK ADD  CONSTRAINT [FK_User_Purchase_User] FOREIGN KEY([IdUser])
REFERENCES [dbo].[users] ([Id])
GO
ALTER TABLE [dbo].[users_purchases] CHECK CONSTRAINT [FK_User_Purchase_User]
GO
ALTER TABLE [dbo].[users_roles]  WITH CHECK ADD  CONSTRAINT [FK_User_Role_Role] FOREIGN KEY([IdRole])
REFERENCES [dbo].[roles] ([Id])
GO
ALTER TABLE [dbo].[users_roles] CHECK CONSTRAINT [FK_User_Role_Role]
GO
ALTER TABLE [dbo].[users_roles]  WITH CHECK ADD  CONSTRAINT [FK_User_Role_User] FOREIGN KEY([IdUser])
REFERENCES [dbo].[users] ([Id])
GO
ALTER TABLE [dbo].[users_roles] CHECK CONSTRAINT [FK_User_Role_User]
GO
