@using Final.PL;
@using Final.Ioc;
@using Final.Logger;
@{
    Page.Title = "Take Admin Role";
    Layout = "~/Layouts/_MainLayout.cshtml";
    string login = null;
    string role = null;
    string info = null;
    string error = null;
    login = Request["Login"];
    role = Request["Role"];
    var logger = Logger.Log;
    if (IsPost)
    {
        if (MyRoleProvider.TakeRole(login, "Admin"))
        {
            info = "Operation completed.";
        }
        else
        {
            logger.Error("Role transfer error.");
            error = "An error has occurred. The operation was not completed.";
        }
    }
}
<h1 style="padding-left:20px">Take Admin Role</h1>
@if (info != null)
{
    <div class="alert alert-info" style="padding-left:20px">@info</div>
}
@if (error != null)
{
    <div class="alert alert-danger" style="padding-left:20px">@error</div>
}
<div class="main" style="padding-left:20px">
    <ul class="list-group list-group-flush" style="width:400px">
        @{
            var users = DependencyResolver.UserLogic.GetAll();
            if (!users.Any())
            {
                logger.Info("List of users is empty.");
                <li class="list-group-item">
                    Users is empty.
                </li>
            }
            foreach (var user in users)
            {
                <li class="list-group-item">
                    Login:@user.Login;Role:@user.Roles[0]
                </li>
            }
        }
    </ul>
    <br />
    <form action="~/Pages/Admin/TakeAdmin.cshtml" method="post" style="">
        <div>
            <label>Login: </label>
            <input class="form-control" style="width:200px" type="text" name="Login" id="Login" />
        </div>
        <br />
        <button class="btn btn-primary" style="width:200px">Take</button>
    </form>
</div>