@using Final.Ioc;
@using Final.Entities;
@using System.Web.Mvc;
@using System.Web.Helpers;

@{
    Page.Title = "Buy Book";
    Layout = "~/Layouts/_MainLayout.cshtml";
    string purchaseId = null;
    string fullName, phoneNumber, address;
    if (IsPost)
    {
        try
        {
            fullName = Request["FullName"];
            phoneNumber = Request["PhoneNumber"];
            address = Request["Address"];
            var purchase = new Purchase()
            {
                FullName = fullName,
                PhoneNumber = phoneNumber,
                Address = address
            };
            Final.Ioc.DependencyResolver.PurchaseLogic.Add(purchase);
            purchaseId = purchase.Id.ToString();
        }
        catch
        {
            Response.Redirect("~/404.cshtml");
        }
    }
}
@if (purchaseId != null)
{
    <div class="alert alert-info">Purchase added with ID: @purchaseId</div>
}
<form action="" method="post" enctype="multipart/form-data">
    <div>
        <label>Full name: </label>
        <input class="form-control" style="width:200px" type="text" name="FullName" id="FullName" />
    </div>
    <div>
        <label>Phone number: </label>
        <input class="form-control" style="width:200px" type="text" name="PhoneNumber" id="PhoneNumber" />
    </div>
    <div>
        <label>Address: </label>
        <input class="form-control" style="width:200px" type="text" name="Address" id="Address" />
    </div>
    <br />
    <button class="btn btn-primary" style="width:200px">Submit</button>
</form>
