@using Task10FastRepair.Models;
@using Task6;
@{
    string login = null;
    string role = null;
    string info = null;
    login = Request["Login"];
    role = Request["Role"];
    if (IsPost)
    {
        info = "Operation completed.";
        MyRoleProvider.AddUserRole(login, role);
    }
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Give Role</title>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-3.0.0.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
</head>
<body>
    <style>
        body {
            background: #d1d1d1;
        }
    </style>
    <div class="alert alert-light">User: @User.Identity.Name <button id="btn_signout" class="btn btn-outline-dark" style="width:100px">Sign Out</button></div>
    <h1>Give Role</h1>
    @if (info != null)
    {
        <div class="alert alert-info">@info</div>
    }
    <ul class="list-group list-group-flush">
        @{
            var users = WebUI.GetListUsers();
            if (!users.Any())
            {
                <li class="list-group-item">
                    Users is empty.
                </li>
            }
            foreach (var user in users)
            {
                <li class="list-group-item">
                    @WebUI.PrintWebUsers(user);
                </li>
            }
        }
    </ul>
    <br />
    <form action="~/Pages/Admin/GiveRole.cshtml" method="post">
        <div>
            <label>Login: </label>
            <input class="form-control" style="width:200px" type="text" name="Login" id="Login" />
        </div>
        <div>
            <label>Role name: </label>
            <input class="form-control" style="width:200px" type="text" name="Role" id="Role" />
        </div>
        <br />
        <button class="btn btn-primary" style="width:200px">Submit</button>
    </form>
    <br />
    <button id="btn_exit" class="btn btn-primary" style="width:200px">Exit</button>
    <script>
        $('#btn_exit').click(function () {
            location.href = '/Index';
        });
    </script>
</body>
</html>
