@using Task6.Common;
@using Task10FastRepair.Models;
@{
    Layout = "~/Pages/Layouts/_MainLayout.cshtml";
    Page.Title = "Give Admin Role";
    string login = null;
    string info = null;
    login = Request["Login"];
    if (IsPost)
    {
        info = "Operation completed.";
        MyRoleProvider.AddUserRole(login, "Admin");
    }
}
<h1 style="padding-left:20px">Give Admin Role</h1>
@if (info != null)
{
    <div class="alert alert-info">@info</div>
}
<ul class="list-group list-group-flush">
    @{
        var users = DependencyResolver.UserWebLogic.GetAll();
        if (!users.Any())
        {
            <li class="list-group-item">
                Users is empty.
            </li>
        }
        foreach (var user in users)
        {
            <li class="list-group-item">
                @{
                    var userInfo = $"Login:{user.Login}; Role:{user.Roles[0]}";
                    @userInfo
                }
            </li>
        }
    }
</ul>
<br />
<form action="~/Pages/Admin/GiveAdminRole.cshtml" method="post" style="padding-left:20px">
    <div>
        <label>Login: </label>
        <input class="form-control" style="width:200px" type="text" name="Login" id="Login" />
    </div>
    <br />
    <button class="btn btn-primary" style="width:200px">Submit</button>
</form>